<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VOD Preferences Test Suite">

    <test name="API Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="com.vod.tests.VodPreferencesApiTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <groups>
            <run>
                <include name="ui"/>
            </run>
        </groups>
        <classes>
            <class name="com.vod.tests.VodOnboardingUiTest"/>
        </classes>
    </test>

</suite>